@import "../css/font.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

  body {
    font-family: "Poppins", sans-serif;
    padding: 0px;
    margin: 0px;
  }

  a,
  button {
    transition: 0.5s;
  }

  .tab-content {
    display: none;
  }

  .tab-content.active {
    display: block;
  }

  .tab.active {
    color: #f58a07;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 31px;
    background: #fff;
    border: 1px solid #f58a07;
  }
}
