<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>blog-news</title>
  <link rel="stylesheet" href="../css/output.css">
</head>
<body>
  <div>
    <div class="py-[16px] px-[20px] max-w-[1320px] ml-auto mr-auto">
      <div>
        <h1 class="mb-2 text-4xl font-bold tracking-tight text-gray-900 dark:text-black ">
          Latest Blog & News
        </h1>
      </div>
    </div>
    <div class="py-[16px] px-[20px] max-w-[1320px] ml-auto mr-auto">
      <div class="grid grid-cols-1 gap-y-8 gap-x-4 md:grid-cols-2 lg:grid-cols-3 sm:grid-cols-1">
        <div class="">
          <div class="max-w-sm bg-white borr border-gray-00 rounded-lg shadow dark:bg-gray-00 dark:border-gray-700">
            <a href="#">
                <img class="rounded-t-lg" src="/images/components/blog-news/Image (21).png" alt="bu erda rasim bor" />
            </a>
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-black">Why you have to digitalize in 2021</h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
                <a href="../pages/blog.html" class="inline-flex items-center  py-2 text-sm font-medium text-center ">
                  <p class="text-amber-500">
                    Read more
                  </p>
                     <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="orange" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
            </div>
          </div>
        </div>
        <div class="">
          <div class="max-w-sm bg-white borer border-gray-200 rounded-lg shadow dark:bg-gray-00 dark:border-gray-700">
            <a href="#">
                <img class="rounded-t-lg" src="/images/components/blog-news/Image (22).png" alt="bu erda rasim bor" />
            </a>
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-black">Our internal process and longerm vision</h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
                <a href="../pages/blog.html" class="inline-flex items-center  py-2 text-sm font-medium text-center ">
                  <p class="text-amber-500">
                    Read more
                  </p>
                     <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="orange" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
            </div>
          </div>
        </div>
        <div class="">
          <div class="max-w-sm bg-white boder border-gray-200 rounded-lg shadow dark:bg-gray-00 dark:border-gray-700">
            <a href="#">
                <img class="rounded-t-lg" src="/images/components/blog-news/Image (23).png" alt="bu erda rasim bor" />
            </a>
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-black">Helping the next generation of leaders</h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
                <a href="../pages/blog.html" class="inline-flex items-center  py-2 text-sm font-medium text-center ">
                    
                  <p class="text-amber-500">
                    Read more
                  </p>
                     <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="orange" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
  

</body>
</html>