<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Frequently Used Codes & elements</title>
    <link rel="stylesheet" href="../css/output.css">
  </head>
  <body>
    <header></header>
    <main>
      <section class="home mt-[50px]">
        <!-- CONTAINER TAILWIND -->
        <div class="container max-w-[1320px] pl-[20px] pr-[20px] ml-[auto] mr-[auto]">
          
          <button class="bg-[#F58A07] text-[#fff] leading-[106.5%] text-[16px] font-[600] capitalize px-8 py-[18px] rounded-[17px] border-solid border-[1px] transition ease-in-out duration-500 border-[#F58A07] hover:bg-[#ffffff] hover:text-[#F58A07] hover:border-[#F58A07]">
            Hello World
          </button>

          <!-- HEADER 1 -->
          <h1 class="text-center text-[#1D3444] text-[64px] font-[600] leading-[72px] tracking-[-1.92px]">Hello World</h1>


          <!-- HEADER 2 -->
          <h2 class="text-center text-[#1D3444] text-[48px] font-[600] leading-[56px] tracking-[-1.44px]">Hello World</h2>

          <!-- ORDINARY TEXT -->
          <p class="text-center text-[#5B5B5B] text-[18px] font-[500] leading-[30px] tracking-[-1.44px]">Hello World</p>
        </div>
      </section>
    </main>
  </body>
</html>
