<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link rel="stylesheet" href="../css/output.css" />
  </head>
  <body>
    <footer class="bg-[#063255]">
      <div class="container px-[20px] max-w-[1320px] ml-auto mr-auto py-[80px]">
        <div
          class="footer__top flex gap-[100px] max-[1000px]:flex-wrap max-[650px]:flex-col"
        >
          <div class="footer__col flex flex-col gap-[32.7px] items-start">
            <img src="../images/components/footer/logo.svg" alt="logo" />
            <h3 class="text-[#ffffff] text-[36px] max-w-[350px]">
              Bespoke software solutions
            </h3>
            <div class="footer__icons flex gap-[16.88px]">
              <a href="https://www.facebook.com/TeslaMotorsCorp/">
                <img
                  src="../images/components/footer/facebook.svg"
                  alt="Facebook"
                />
              </a>
              <a href="https://www.youtube.com/@tesla">
                <img
                  src="../images/components/footer/youtube.svg"
                  alt="Youtube"
                />
              </a>
              <a href="https://www.instagram.com/teslamotors/">
                <img
                  src="../images/components/footer/instagram.svg"
                  alt="Instagram"
                />
              </a>
              <a href="https://twitter.com/Tesla">
                <img
                  src="../images/components/footer/twitter.svg"
                  alt="Twitter"
                />
              </a>
            </div>
          </div>
          <div class="footer__col flex flex-col items-start gap-[28px]">
            <h4 class="text-[#ffffff] text-[18px] font-[600]">Company</h4>
            <div class="footer__links flex flex-col gap-[16px]">
              <a
                class="text-[#ffffff] hover:text-[#F58A07] text-[16px] font-[500]"
                href="about.html"
                >About Us</a
              >
              <a
                class="text-[#ffffff] hover:text-[#F58A07] text-[16px] font-[500]"
                href="careers.html"
                >Careers</a
              >
              <a
                class="text-[#ffffff] hover:text-[#F58A07] text-[16px] font-[500]"
                href="services.html"
                >Services</a
              >
              <a
                class="text-[#ffffff] hover:text-[#F58A07] text-[16px] font-[500]"
                href="blog.html"
                >Blog</a
              >
            </div>
          </div>
          <div class="footer__col flex flex-col">
            <h4 class="text-[#ffffff] text-[18px] font-[600] mb-[26px]">
              Connect
            </h4>
            <a
              href=""
              onclick="location.href='mailto:hi@finsweet.com';"
              class="text-[#ffffff] hover:text-[#F58A07] text-[16px] font-[500] mb-[16px]"
              >hi@finsweet.com</a
            >
            <a
              href=""
              onclick="location.href='mailto:hi@finsweet.com';"
              class="text-[#ffffff] hover:text-[#F58A07] text-[16px] font-[500] mb-[16px]"
              >+(123) 456-7890</a
            >
          </div>
          <div class="footer__col flex flex-col items-start">
            <h4 class="text-[#ffffff] text-[18px] font-[600] mb-[24px]">
              Join Newsletter
            </h4>
            <form>
              <input
                required
                type="email"
                placeholder="Type email here"
                class="text-[#9C9C9C] text-[16px] font-[500] outline-none py-[18px] rounded-[31px] pl-[32px] w-full bg-[#ffffff] mb-[16px]"
              />
              <button
                type="submit"
                class="bg-[#F58A07] border-none text-[#fff] leading-[106.5%] text-[16px] font-[600] capitalize px-8 py-[18px] rounded-[31px] transition ease-in-out duration-500 hover:bg-[#ffffff] hover:text-[#F58A07]"
              >
                Subscribe
              </button>
            </form>
          </div>
        </div>
        <div class="footer__bottom mt-[80px] flex justify-between items-center max-[650px]:flex-col max-[650px]:items-start max-[650px]:gap-[16px]">
          <p class="text-[#FFF] text-[16px] font-[500]">
            © All rights reserved – Finsweet
          </p>
          <div class="privacy__policy flex gap-[32px]">
            <a
              class="text-[#FFF] text-[16px] font-[500] hover:text-[#F58A07]"
              href="privacy-policy.html"
            >
              Privacy Policy
            </a>
            <a
              class="text-[#FFF] text-[16px] font-[500] hover:text-[#F58A07]"
              href="privacy-policy.html"
            >
              Terms & Conditions
            </a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
