<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
    <link rel="stylesheet" href="../css/output.css" />
  </head>
  <body>
    <header class="bg-[#ffffff] fixed top-0">
      <nav>
        <div class="container m-w-[1320px] pl-[20px] pr-[20px] ml-[auto] mr-[auto]">
          <div class="header__logo">
            <img src="../images/components/header/logo.svg" alt="Company Logo">
          </div>
          <div class="header__menu">
            <ul class="nav__list">
              <li class="nav__item">
                <a href="about.html" class="nav__link text-center text-[#394149] text-[16px] font-[600] leading-[24px] capitalize">
                  About Us
                </a>
              </li>
              <li class="nav__item">
                <a href="about.html" class="nav__link text-center text-[#394149] text-[16px] font-[600] leading-[24px] capitalize">
                  Careers
                </a>
              </li>
              <li class="nav__item">
                <a href="about.html" class="nav__link text-center text-[#394149] text-[16px] font-[600] leading-[24px] capitalize">
                  Services
                </a>
              </li>
              <li class="nav__item">
                <a href="about.html" class="nav__link text-center text-[#394149] text-[16px] font-[600] leading-[24px] capitalize">
                  Blog
                </a>
              </li>
              <li class="nav__item">
                <a href="about.html" class="nav__link text-center text-[#394149] text-[16px] font-[600] leading-[24px] capitalize">
                  Contact us
                </a>
              </li>
              <li class="nav__item">
                <button class="bg-[#FEF4E7] text-[#F58A07] leading-[106.5%] text-[16px] font-[600] capitalize px-8 py-[18px] rounded-[17px] border-solid border-[1px] transition ease-in-out duration-500 border-[#FEF4E7] hover:bg-[#F58A07] hover:text-[#FEF4E7] hover:border-[#F58A07]">Clone Project</button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  </body>
</html>
