<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/output.css" />
  </head>
  <body>
    <div class="with-us-1 mt-[70px] mb-[70px]">
      <div
        class="container max-w-[1320px] pl-[20px] pr-[20px] ml-[auto] mr-[auto]"
      >
        <div class="with-us-container grid grid-cols-1 lg:grid-cols-2">
          <div class="flex flex-col justify-center items-start">
            <h2 class="text-[40px] text-[black] leading-[52px] sm:text-[64px] sm:leading-[72px]">
              We value human, organizational, and operational intelligence, not
              just artificial
            </h2>
            <p class="text-[18px] text-[#5B5B5B] leading-[30px] mt-[24px]">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
              leo odio, sagittis quis ornare quis.
            </p>
            <button class="bg-[#F58A07] text-[#fff] leading-[106.5%] text-[16px] font-[600] capitalize px-8 py-[18px] rounded-[17px] border-solid border-[1px] transition ease-in-out duration-500 border-[#F58A07] hover:bg-[#ffffff] hover:text-[#F58A07] hover:border-[#F58A07] mt-[32px]">
              Work With Us
            </button>
          </div>
          <div class="mt-[50px]">
            <img src="../images/components/home-section/image-1.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="with-us-2 mt-[70px] mb-[70px]">
      <div
        class="container max-w-[1320px] pl-[20px] pr-[20px] ml-[auto] mr-[auto]"
      >
        <div class="with-us-container grid grid-cols-1 lg:grid-cols-2 ">
          <div class="flex flex-col justify-center items-start">
            <h2 class="text-[40px] text-[black] leading-[52px] sm:text-[64px] sm:leading-[72px]">
              We serve clients with ground breaking solutions
            </h2>
            <p class="text-[18px] text-[#5B5B5B] leading-[30px] mt-[24px]">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
              leo odio, sagittis quis ornare quis.
            </p>
            <button class="bg-[#F58A07] text-[#fff] leading-[106.5%] text-[16px] font-[600] capitalize px-8 py-[18px] rounded-[17px] border-solid border-[1px] transition ease-in-out duration-500 border-[#F58A07] hover:bg-[#ffffff] hover:text-[#F58A07] hover:border-[#F58A07] mt-[32px]">
              Work With Us
            </button>
          </div>
          <div class="mt-[50px]">
            <img src="../images/components/home-section/image-2.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="with-us-3 mt-[70px] mb-[70px]">
      <div
        class="container max-w-[1320px] pl-[20px] pr-[20px] ml-[auto] mr-[auto]"
      >
        <div class="with-us-container grid grid-cols-1 lg:grid-cols-2">
          <div class="flex flex-col justify-center items-start">
            <h2 class="text-[40px] text-[black] leading-[52px] sm:text-[64px] sm:leading-[72px]">
              We hired people who are very passionate about what they do
            </h2>
            <p class="text-[18px] text-[#5B5B5B] leading-[30px] mt-[24px]">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
              leo odio, sagittis quis ornare quis.
            </p>
            <button class="bg-[#F58A07] text-[#fff] leading-[106.5%] text-[16px] font-[600] capitalize px-8 py-[18px] rounded-[17px] border-solid border-[1px] transition ease-in-out duration-500 border-[#F58A07] hover:bg-[#ffffff] hover:text-[#F58A07] hover:border-[#F58A07] mt-[32px]">
              Work With Us
            </button>
          </div>
          <div class="mt-[50px]">
            <img src="../images/components/home-section/image-3.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
