<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/output.css" />
    <link rel="stylesheet" href="../css/font.css" />
    <title>Cards</title>
  </head>
  <body>
    <section class="finsweet">
      <div class="container">
        <div class="flex gap-[100px] items-center">
          <div class="basis-1/2">
            <h1
              class="text-black text-4xl font-semibold leading-none tracking-wider capitalize w-3/4 pb-[24px]"
            >
              Finsweet was a dream to work with
            </h1>
            <p
              class="text-lg text-[#5B5B5B] font-medium leading-[30px] w-[70%] pb-[46px]"
            >
              Maecenas efficitur scelerisque lorem, et varius lacus tincidunt
              vel. Pellentesque a arcu vitae diam dapibus mattis vel vel orci.
              Vivamus eleifend nec felis vel auctor.
            </p>
            <div class="flex items-center gap-[24px]">
              <img
                src="../images/components/testamonia/Image.svg"
                alt="cover"
              />
              <div>
                <p class="text-[#063255] font-medium leading-[30px] text-base">
                  Chikelu Neo
                </p>
                <p
                  class="text-[#F58A07] font-medium leading-[30px] text-base p-[0px] m-[0px]"
                >
                  CEO at MazeAI
                </p>
              </div>
            </div>
          </div>
          <div class="basis-1/2">
            <div class="w-[100%] relative inline-block">
              <img
                class="rounded-[20px]"
                src="../images/components/testamonia/women.png"
                alt="women"
              />
            </div>
            <div class="absolute top-[55%] ml-[40px]">
              <a href="https://youtu.be/vQzb34h7mtY" class="inline-block">
                <img
                  src="../images/components/testamonia/Circle.svg"
                  alt="circle"
                />
              </a>
              <span
                class="relative bottom-[20px] text-[#fff] font-semibold text-sm capitalize leading-[30px]"
                >play Video</span
              >
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
