<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/output.css" />
    <link rel="stylesheet" href="../css/font.css" />
    <title>Cards</title>
  </head>
  <body>
    <div class="with-us-1 mt-[70px] mb-[70px]">
      <div
        class="container max-w-[1320px] pl-[20px] pr-[20px] ml-[auto] mr-[auto]"
      >
        <div class="with-us-container grid grid-cols-1 lg:grid-cols-2">
          <div class="flex flex-col justify-center items-start">
            <h2
              class="text-[#0D1317] text-[48px] font-[600] leading-[56px] tracking-[-1.44px] capitalize w-[78%] max-[900px]:w-[90%] max-[700px]:w-[95%] max-[600px]:w-[100%]"
            >
              Finsweet was a dream to work with
            </h2>

            <p
              class="text-[18px] text-[#5B5B5B] leading-[30px] mt-[24px] w-[75%] max-[700px]:w-[90%] max-[600px]:w-[100%]"
            >
              Maecenas efficitur scelerisque lorem, et varius lacus tincidunt
              vel. Pellentesque a arcu vitae diam dapibus mattis vel vel orci.
              Vivamus eleifend nec felis vel auctor.
            </p>
            <div class="flex items-center gap-[24px] mt-[40px]">
              <img
                src="../images/components/testamonia/Image.svg"
                alt="testamonia"
              />
              <div>
                <p class="text-[24px] text-[#063255] leading-[30px]">
                  Chikelu Ne
                </p>
                <p
                  class="text-[#F58A07] text-[18px] font-[500] leading-[30px] tracking-[-1.44px]"
                >
                  CEO at MazeAI
                </p>
              </div>
            </div>
          </div>
          <div class="mt-[50px] relative">
            <img
              class="w-full relative"
              src="../images/components/testamonia/women.png"
              alt="pic"
            />
            <div
              class="absolute bottom-10 left-10 ml-[40px]"
            >
              <button class="rounded-[50%] p-[17px] bg-white">
                <img
                  src="../images/components/testamonia/Icon.svg"
                  alt="testamonia"
                />
              </button>
              <span
                class="text-[#ffff] text-[18px] font-[600] leading-[30px] tracking-[-1.44px] capitalize"
                >play Video</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
